<p>Thank you for booking your trip with Meadowlark Travel, {{cart.billng.name}}!</p>
<p>Your reservationnumber is {{cart.number}}, and an email has been
sent to {{cart.billing.email}} for tour records</p>